binds {

    // ─── Applications ───

    Mod+Return hotkey-overlay-title="Open Terminal" {
        spawn "ghostty"
    }

    Mod+E hotkey-overlay-title="File Manager" {
        spawn "nemo"
    }

    Mod+B hotkey-overlay-title="Open Browser" {
        spawn "thorium-browser"
    }

    Mod+C hotkey-overlay-title="Open VSCode" {
        spawn "code"
    }

    Super+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "swaylock"
    }

    Mod+Shift+Slash {
        show-hotkey-overlay
    }

    Mod+D hotkey-overlay-title="Run Application: fuzzel" {
        spawn "fuzzel"
    }


    // ─── Screenshot ───

    Mod+Shift+S {
        spawn "flameshot" "gui"
    }


    // ─── Reload Niri config ───

    Mod+Alt+R {
        spawn "niri" "msg" "action" "load-config-file"
    }


    // ─── Audio ───

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"
    }

    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }


    // ─── Media ───

    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }

    XF86AudioPause allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }

    XF86AudioStop allow-when-locked=true {
        spawn-sh "playerctl stop"
    }

    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous"
    }

    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next"
    }


    // ─── Window control ───

    Mod+O repeat=false {
        toggle-overview
    }

    Mod+Q repeat=false {
        close-window
    }


    // ─── Layout ───

    Mod+R {
        switch-preset-column-width
    }

    Mod+Shift+R {
        switch-preset-column-width-back
    }

    Mod+Ctrl+R {
        reset-window-height
    }

    Mod+Ctrl+Shift+R {
        switch-preset-window-height
    }


    // ─── Floating / fullscreen ───

    Mod+V {
        toggle-window-floating
    }

    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }

    Mod+F {
        maximize-column
    }

    Mod+Shift+F {
        fullscreen-window
    }

    Mod+M {
        maximize-window-to-edges
    }


    // ─── Screenshot keys ───

    Print {
        screenshot
    }

    Ctrl+Print {
        screenshot-screen
    }

    Alt+Print {
        screenshot-window
    }


    // ─── Exit ───

    Mod+Shift+E {
        quit
    }

    Ctrl+Alt+Delete {
        quit
    }


    // ─── Monitor ───

    Mod+Shift+P {
        power-off-monitors
    }
}