layout {
    gaps 12
    center-focused-column "on-overflow"
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        // on
        off
        width 4
        active-color "#d4be98"
    }
    border {
        // off
        on
        width 2
        active-color "#d4be98"
        inactive-color "#313244"
        urgent-color "#9b0000"
    }
    tab-indicator {
        off
        // on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
    }
    insert-hint {
        off
        // on
        color "#ffc87f80"
    }
     background-color "transparent"
}

output "DP-1" {
    mode "2560x1440@200.000"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    position x=360 y=1440
}
