// float window
window-rule {
    match app-id="imv"
    match app-id="mpv"
    match app-id="cava"
    match app-id="xdm-app"      
    match app-id="blueman-manager"
    match app-id="org.pwmt.zathura" 
    match app-id="fcitx5-configtool" 

    open-floating true
}

window-rule {
    match app-id="ghostty"

    draw-border-with-background false
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}